#friend-grid {
  display: flex;
  flex-wrap: wrap;
}

.friend-card {
  background-color: rgba(250, 235, 215, 0.4);
  border-radius: 10px;
  height: 275px;
  width: 275px;
  overflow: auto;
}

.card {
	height: auto;
}