<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="static/images/logoimg.png">
	<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Page style -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/index.css">
</head>
<body id="{{page_name}}-page">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<!-- Decide if we want navbars -->
  {% if current_user %}
    <div class="sidenav">
        <ul>
          <li><img src="/static/images/logoimg.png" style="height: 70px"></img></li><br>
        <li class = "forumpic" style="text-align: center;"> <a href="/chat"><i style="font-size: 45px; padding:20px;" class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>
        <li class = "discoverpic" style="text-align: center;"> <a href="/discover"> <i style="font-size: 45px; padding:20px;" class="fa fa-compass" aria-hidden="true"></i></a></li>
        <li class = "friendpic" style="text-align: center;"> <a href="/"> <i style="font-size: 45px; padding:20px;" class="fa fa-users" aria-hidden="true"></i></a></li>
        <li class = "chatpic" style="text-align: center;"> <a href="/chat"> <i style="font-size: 45px; padding:20px;" class="fa fa-comments" aria-hidden="true"></i></a></li>
        <li class = "profilepic" style="text-align: center;"> <a href="/"> <i style="font-size: 45px; padding:20px;" class="fa fa-user" aria-hidden="true"></i></a></li>
        <br>        
        <li class="logout"> <a href="/logout"><p font-size="20px">Log out</p></a></li>
        </ul>
    </div>
  {% endif %}

  <div class="main"></div>

	<!--
	The "base.html" serves as the "base" for all the other pages.
	Everypage shares a common element (i.e navbars) and this html file helps
	reduce repetition and copypasting the same html elements across pages
	-->
	<!-- The content for other pages are substituted within this block. -->
	{% block body %}{% endblock %}
	
	<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<script src="/static/js/index.js"></script>
</body>
</html>