{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="/static/css/chat.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="static/js/chat.js"></script>

<div class="main noscroll">
    <h1 class="title">Chat</h1>
	<h3>Talk to others live.</h3>
	<div id="chat"></div>
	<ul class="messages"></ul>
	<div class="bottom_wrapper clearfix">
		<div class="message_input_wrapper">
			<input class="message_input form-control" placeholder="Type your message here..." />
		</div>
		<div class="send_message">
			<div class="icon"></div>
			<div class="text">Send</div>
			</div>
		</div>
	</div>
	<div class="message_template">
		<li class="message">
			<div class="text_wrapper">
				<div class="sender"></div>
				<div class="text"></div>
			</div>
		</li>
	</div>
</div>
{% endblock %}