{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/profile.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="static/js/chat.js"></script>

<div class="main">
    <h1 class="title">#{{ room }}</h1>
    <textarea id="chat" cols="80" rows="5"></textarea><br><br>
    <input id="text" size="80" placeholder="Enter your message here"><br><br>
    <a href="#" onclick="leave_room();">Leave this room</a>
</div>
{% endblock %}