{% extends "base.html" %}
{% block body %}
	<link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/discover.css">
  <script src="static/js/discover.js"></script>

	<div class="main">
		<h1 class="title">Discover</h1>
		<h3>Find out more about others.</h3>
		<br>
    <!--
    <button class="btn btn-primary" id="filter"> Filter </button>
    <button class="btn btn-primary" id="sort" onclick="dropDownFunction()"> Sort </button>
    -->
 
		<div id="posts" class="post-grid">
		{% if featured %}
			{% for title, story in featured %}
				{% include 'postcard.html'%}
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}