{% extends "base.html" %}
{% block body %}
	<link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/friend.css">
  <script src="static/js/friend.js"></script>


  <div class="main">
    <h1 class="title">Friend Finder</h1>

    <div id="hello"></div>
    <div id="friend-grid">
      <div> <p> bio </p> </div>
      
      <div> <p> bio </p> </div>
      
      <div> <p> bio </p> </div>
      
      <div> <p> bio </p> </div>
      
      <div> <p> bio </p> </div>
      
      
      <div> <p> bio </p> </div>
      
      <div> <p> bio </p> </div>
      
      <div> <p> bio </p> </div>
      
      <div> <p> bio </p> </div>
      
      <div> <p> bio </p> </div>
    </div>

  </div>
</div> 
    

  </div>
{% endblock %}