{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/landing_animation.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--
	The content of the landing page goes here.
	No need to copy over HTML for navbars, scripts, and links to styles!
-->
<div class="navbar1">
  <div class="navimg">
    <img src= "/static/images/logoimg.png" alt="logo" style="height: 55px">
  </div>
  <div class="navtext">
    <h2>intersection</h2>
  </div>
</div>

<br><br><br>
<main role="main">
  <div class="intro">
    <div id="bubbles">
      <div class="introtext">
        <br> <br> <br><br>
        <h1>Find out how you <br> intersect with others.</h1> <br>
        <h6>Intersection is an anonymous platform<br>allowing people to connect and share <br> identities and experiences. </h6>
        <a class="btn btn-primary" href="/login">Login/Register</a>
      </div>
      <div class="introimg">
        <img src="/static/images/infopic1.png" style="height: 450px;"></img>
      </div>
      <div class="bubble x1"></div>
      <div class="bubble x2"></div>
      <div class="bubble x3"></div>
      <div class="bubble x4"></div>
      <div class="bubble x5"></div>
      <div class="bubble x6"></div>
      <div class="bubble x7"></div>
      <div class="bubble x8"></div>
      <div class="bubble x9"></div>
      <div class="bubble x10"></div>
    </div>
  </div>

  <!--
    <div class="jumbotron-grid1">
      <div id="bubbles">
        <div>
          <h1>Find out how you <br> intersect with others.</h1> <br>
          <h6>Intersection is an anonymous platform<br>allowing people to connect and share <br> identities and experiences. </h6>
          <a class="btn btn-primary" href="/login">Login/Register</a>
        </div>
        <div class="item2">
          <img class="landing-img" height="450" src="/static/images/person.jpg"></img>
        </div>
          <div class="bubble x1"></div>
          <div class="bubble x2"></div>
          <div class="bubble x3"></div>
          <div class="bubble x4"></div>
          <div class="bubble x5"></div>
          <div class="bubble x6"></div>
          <div class="bubble x7"></div>
          <div class="bubble x8"></div>
          <div class="bubble x9"></div>
          <div class="bubble x10"></div>
      </div>
    </div>
  <!--
    <div class="top">
      <div class="jumbotron">
          <div id="bubbles">
            <div class="top1">
              <h1 class="display-4">Find out how you<br>intersect with others.</h1>
              <br>
              <p class="lead" style="max-width:400px"> Intersection is an anonymous platform allowing people to connect with others of shared identities and experiences. </p>
              <a class="btn btn-primary" href="/login">Login/Register</a>
            </div>
              <div class="bubble x1"></div>
              <div class="bubble x2"></div>
              <div class="bubble x3"></div>
              <div class="bubble x4"></div>
              <div class="bubble x5"></div>
              <div class="bubble x6"></div>
              <div class="bubble x7"></div>
              <div class="bubble x8"></div>
              <div class="bubble x9"></div>
              <div class="bubble x10"></div>
          </div>
      </div>
    </div>  
    
    <img class="landing-img" height="450" src="/static/images/person.jpg"></img>
  -->
    <div class="jumbotron-infographic">
      <br><br><br><br><br><br>
      <div class="grid-container">
        <div>
          <img src="/static/images/1.png" style="width: 95%"></img>
        </div>
        <div>
          <img src="/static/images/2.png" style="width: 95%"></img>
        </div>
        <div>
          <img src="/static/images/3.png" style="width: 95%"></img>
        </div>  
        <div>
          <img src="/static/images/4.png" style="width: 95%"></img>
        </div>
        <div class="item5">
          <img src="/static/images/5.png" style="width: 95%"></img>
        </div>
      </div>
      <br><br><br><br>
    </div>
    
    <div class="jumbotron-grid">
      <div>
        <h5>testing one two three </h5>
        <h2> How it works </h2>
        <p> When you join Intersection, you'll have the opportunity to add tags that correspond to your identities and experiences. Once adding your tags, you'll be able to connect with others with similar experiences through chats and customized feeds. Intersection will also give you friend suggestions based on how many identities and experiences you have in common. Once adding friends, you'll be able to chat one-on-one with your new connections. You'll also have access to forums where people of all experiences can share their stories. </p>
      </div>
      <div> 
        <h2> Why you should use Intersection </h2>
        <p> Talking about your experiences with people who understand and relate to them can be therapeutic and beneficial to your mental health. Finding others with common identities can alleviate one's sense of isolation and encourage a feeling of belonging. <br><br> Intersection seeks to create a safe and supportive environment to help people gain a better understanding of individuals with different backgrounds, identities, and experiences. </p>
      </div>

      <div> 
        <h2> Steps </h2>
        <li> Create your Intersection account </li>
        <li> Edit your bio to help us match you with others! </li>
        <li> Add tags to your account to help us filter which stories you'd like to see (ex: biracial, queer, domestic abuse survivor). </li>
        <li> Post your story! </li>
        <li> Read about others' experiences and comment on their posts. </li>
        <li> Chat with others about your experience. </li>
      </div>

      <div> 
        <h2> Future Plans </h2>
        <p> add stuff here </p>
      </div>
    </div>

    <div class="jumbotron-team">
      <br><br>
      <center>
        <h1> Meet the Team </h1>
        <div class="team-grid">
          <div class="row">
            <div class="column">
              <div class="card">
                <img src="/static/images/Michelle.png" alt="Jane" style="width:100%">
                <div class="container">
                  <br>
                  <h3>Michelle Bryson</h3>
                  <p class="title">Designer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <br>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img src="/static/images/Bach.png" alt="Mike" style="width:100%">
                <div class="container">
                  <br>
                  <h3>Bach Nguyen</h3>
                  <p class="title">Designer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <br>
                </div>
              </div>
            </div>
              
            <div class="column">
              <div class="card">
                <img src="/static/images/Jendy.png" alt="John" style="width:100%">
                <div class="container">
                  <br>
                  <h3>Jendy Ren</h3>
                  <p class="title">Designer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <br>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img src="/static/images/Christina.png" alt="John" style="width:100%">
                <div class="container">
                  <br>
                  <h3>Christina Wong</h3>
                  <p class="title">Designer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <br>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img src="/static/images/John.png" alt="John" style="width:100%">
                <div class="container">
                  <br>
                  <h3>John Paul Bunn</h3>
                  <p class="title">Designer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </center>
      <br><br><br><br><br>
          
    </div>

</main>


{% endblock %}